.heading-section {
    background: linear-gradient(rgb(255, 91, 255), rgb(74, 215, 240));

    padding: 49px;
    padding-bottom: 108px;

    h1.title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #000;
        text-shadow: 5px 4px 2px rgba(rgb(232, 117, 255), 0.9);
    }

    .no-text-shadow {
        color:rgb(118, 78, 136);
        text-shadow: none !important;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: underline;
        text-align: center;
    }
}

.container {
    max-width: 733px;
}

.add-box-todo {
    padding: 24px;
    // background: rgb(169, 234, 250);
    background: rgb(22, 23, 24);
    // border: 1px solid black;
    border-radius: 10px;
    margin-top: -56px;

    box-shadow: 0 9px 19px rgba(black, 0.19);
}

.item-todo {
    display: flex;
    cursor: pointer;
    // flex-direction: row;
    font-size: 17px;
    padding: 12px 14px;
    align-items: center;
    // background: linear-gradient(to right, rgb(203, 147, 255), rgb(226, 196, 255));
    margin-bottom: 22px;
    border-bottom: 0.005px solid rgb(203, 147, 255);
    // border-bottom: 0.05px solid #aaa;

    // &.completed {
    //   color: rgb(203, 147, 255);
    // }
    position: relative;

    .checkbox {
        display: flex;
        flex-shrink: 0;
        border: 2.5px solid #000;
        border-radius: 50%;
        margin-right: 19px;
        height: 25px;
        width: 25px;
        transition: background-color 0.4s;

        i.material-icons {
            font-size: 20.5px;
            margin: auto;

            // to hide
            opacity: 0;
            transition: opacity 0.6s;
        }

        // &:hover {
        //     i.material-icons {
        //         opacity: 1;
        //     }

        // }
    }

}

.item-todo:hover .checkbox {
    background: #000;
    i.material-icons {
        opacity: 2;
        color: pink;
    }
}

.item-todo.completed .checkbox {
    background: #000;
    i.material-icons {
        opacity: 1;
        color: pink;
    }
}

.text-todo {
    &.complete {
        text-decoration: line-through rgb(255, 107, 127);
    }
}

.text-todo:hover {
    text-decoration: line-through rgb(255, 107, 127);
   
}


.item-todo .todo-controlbox {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;

    // hide 
    visibility: hidden;
    opacity: 0;
    

}

.item-todo:hover .todo-controlbox {
    // show
    visibility: visible;
    opacity: 1;
    transform: translateX(5px);

    transition: opacity 0.4s, visibility 0.4s, transform 0.5s;
    transition-delay: 0.9s;

}

.todo-controlbox .todo-controlbutton {
    display: flex;
    background: #f5f7f8;
    padding: 3px 9px;
    display: flex;
    // border-radius: 8px;


    i.material-icons {
        font-size: 19px;
        color: rgb(122, 122, 122);
    }

    &:hover {
        background: #eee;

        i.material-icons {
            color: #333;
        }
    }

    &:active {
        background: #E5E7E8;
    }

    &:first-of-type {
        background: rgb(227, 201, 252);
        border-top-left-radius: 6px;
    }

    &:last-of-type {
        background: rgb(227, 201, 252);
        border-top-right-radius: 6px;
    }
}


.todo-controlbox .todo-controlbutton.is-info:active {
    background: rgb(203, 147, 255);
}

.todo-controlbox .todo-controlbutton.is-danger:active {
    background: rgb(203, 147, 255);
}